# Global Domain & SSL Settings
DOMAIN_NAME=yourdomain.com
EMAIL_FOR_SSL=admin@yourdomain.com

# Database Credentials
POSTGRES_USER=postgres
POSTGRES_PASSWORD=secure_password_here
POSTGRES_DB=ta7aror

# Backend Secrets
JWT_SECRET=super_secret_jwt_key_change_in_production

# LiveKit Credentials
LIVEKIT_URL=wss://liberation-5xb6iqb6.livekit.cloud
LIVEKIT_API_KEY=APIUGbq3Qbv77v6
LIVEKIT_API_SECRET=upLIe2r0C02psSSzb8C4H44oXgfu5ejM3n7e4frMuiyH
